
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContactUs</h2>
<body>
    <h3>Contact us on : abc@example.com</h3>
</body>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>