
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Textbox</title>
</head>
<body>
    <div> 
        <form>
            Enter Name:<input type="text" name="username" />
            <button type="submit">Submit</button>
        </form>
        <p>Hello @ViewBag.username</p>
    </div>
</body>
</html>
