@model TaskTableMVC_app.ViewModels.AddSubTaskVM
@{
    ViewBag.Title = "AddSubTask";
}

<h2>AddSubTask</h2>

<h2 align="center">Add New Sub Task</h2>
<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="TaskDetail">Sub Task Detail</label>
            @Html.TextBoxFor(x => x.SubTask.TaskDetail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Status">Enter Status</label>
            @Html.TextBoxFor(x => x.SubTask.Status, new { @class = "form-control" })
        </div>
        <div align="center">
            <button type="submit" class="btn btn-outline-primary">Add Sub Task</button>
        </div>
        <div>
            @Html.ActionLink("Back", "Index", "SubTask")
        </div>
    }
</div>