@model loginDemo1_app.Models.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
        <h2>Welcome @Model.Username</h2>
    </div>
</body>
</html>
